main {
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-inline: auto;
}

.container-width-small {
  max-width: 305px;
}

.container-width-large {
  max-width: 311px;
}

.image-wrapper {
  margin-inline: auto;
  max-width: 375px;
  height: 160px;
  overflow: hidden; /*not needed if img smaller than container*/
  margin-bottom: 48px;
}

.img-hide-mobile {
  display: none;
}

#hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /*maintains aspect ratio*/
}

.hero-btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  gap: 16px;
}

.vertical-line {
  border-left: 1px solid var(--slate-300); /* Adjust the color and width as needed */
  height: 80px; /* Adjust the height as needed */
  margin: 0 auto; /* Center the vertical line */
}

.circle {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center; /* Centers text vertically */
  color: var(--slate-600);
}

header {
  margin-top: 48px;
  margin-bottom: 64px;
}

h1 {
  margin-top: 0;
  margin-bottom: 24px;
}

#hero-text {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--slate-600);
}

#hero-btn-download {
  background-color: var(--cyan-600);
  color: var(--white);
}

#hero-btn-download:hover {
  background-color: #71c0d4;
}

#hero-btn-download span {
  color: var(--cyan-300);
}

#hero-btn-what {
  background-color: var(--purple-600);
  color: var(--white);
}

#hero-btn-what:hover {
  background-color: #b18bdd;
}

.btn {
  padding: 16px 40px;
  border-radius: 29px;
  border: none;
}

#main-content-image-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.image-grid-item {
  display: flex;
  gap: 16px;
}

.image-grid-item img {
  width: 147.5px;
  height: auto;
  border-radius: 8px;
}

#main-content-title {
  color: var(--cyan-600);
  margin-top: 0px;
  margin-bottom: 16px;
}

#main-content-headline {
  margin-top: 0px;
  margin-bottom: 32px;
}

#main-content-text {
  margin-top: 0px;
  margin-bottom: 64px;
  color: var(--slate-600);
}

footer .circle {
  margin: 0px;
  margin-bottom: -29px;
  background-color: var(--white);
  z-index: 1;
}

footer h2 {
  margin-top: 64px;
  margin-bottom: 24px;
  color: var(--white);
}

footer p {
  margin-top: 0px;
  margin-bottom: 24px;
  color: var(--white);
}

#footer-btn {
  background-color: var(--purple-600);
  color: var(--white);
  margin-bottom: 88px;
  color: var(--white);
}

#footer-btn:hover {
  background-color: #b18bdd;
}

#background {
  position: relative;
  background-color: rgb(77 150 169 / 0.9); /* Adjust the opacity as needed */
}

#background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/mobile/image-footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

@media (min-width: 768px) {
  .image-wrapper {
    max-width: 768px;
    height: 303px;
    margin-bottom: 72px;
  }

  .container-width-small {
    max-width: 448.3px;
  }

  .container-width-large {
    max-width: 504px;
  }

  .hero-btn-wrapper {
    flex-direction: row;
    gap: 17px;
    margin-bottom: 120px;
  }

  #main-content-image-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-grid-item img {
    width: 152px;
  }

  #hero-headline,
  #main-content-headline {
    width: 445px;
  }

  #hero-headline {
    margin-bottom: 64px;
  }

  #background::before {
    background-image: url('./assets/tablet/image-footer.jpg');
  }
}

@media (min-width: 1440px) {
  .img-hide-mobile {
    display: contents;
  }

  #img-hide-desktop {
    display: none;
  }

  #hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 133px;
    width: 1440px;
    overflow: hidden;
    /* gap: 127.85px; */
  }

  #left-image {
    transform: translateX(-26px);
  }

  #right-image {
    transform: translateX(26px);
  }

  header {
    margin-top: 80px;
    margin-bottom: 87px;
  }
  #content-box {
    max-height: 314px;
    padding: 0;
  }

  #hero-headline,
  #hero-text {
    margin-bottom: 32px;
  }
  .hero-btn-wrapper {
    margin-bottom: 0px;
  }

  .image-grid-item img {
    width: 256px;
  }

  #main-content-text {
    margin-bottom: 72px;
  }

  .container-width-large {
    max-width: 1120px;
  }

  #footer-content {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-inline: auto;
  }

  #background {
    height: 312px;
    display: flex;
  }

  #background h2 {
    margin: 0;
    text-align: left;
    width: 445px;
  }
  #background p {
    margin: 0;
    width: 355px;
    text-align: left;
  }

  #footer-btn {
    margin: 0;
    height: 56px;
    width: 193px;
    margin-left: 63px;
  }

  #background::before {
    background-image: url('./assets/desktop/image-footer.jpg');
  }

  #main-content-text {
    max-width: 544px;
  }
}
